<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chef Specific Order</title>
    <style>
      .parent {
        display: flex;
        align-items: center;
        gap: 50px;
      }
    </style>
    <script>
      let orderID = "<%= specificOrder.orderID %>"
    </script>
    <script src="/specificChefOrder.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
  </head>

  
  <body>
    <h1>Order <%= specificOrder.orderID %></h1>
    <div class="parent">
      <div class="button">
        
        <% if (specificOrder.orderStatus === "Accepted") { %> 
          <button id="ready-to-cook-button" class="red">Ready to Cook</button>
          <button id="in-the-oven-button" class="red invisible" disabled>Cooking</button>
          <button id="ready-to-pick-up-button" class="red invisible" disabled>Ready to Pickup</button>

        <% } else if (specificOrder.orderStatus === "Ready to Cook") { %>
          <button id="ready-to-cook-button" class="red invisible" disabled>Ready to Cook</button>
          <button id="in-the-oven-button" class="red">Cooking</button>
          <button id="ready-to-pick-up-button" class="red invisible" disabled>Ready to Pickup</button>

        <% } else { %>
          <button id="ready-to-cook-button" class="red invisible" disabled>Ready to Cook</button>
          <button id="in-the-oven-button" class="red invisible" disabled>Cooking</button>
          <button id="ready-to-pick-up-button" class="red">Ready to Pickup</button>
          
        <% } %> 
      </div>
      <div class="order-details">
        <p><strong>Pick up time: </strong><%= specificOrder.pickUpTime %></p>
        <p><strong>Pizza Type: </strong><%= specificOrder.pizzaType %></p>
        <p><strong>Toppings: </strong><%= specificOrder.toppings %></p>
        <p><strong>Special Instructions: </strong><%= specificOrder.specialInstructions %></p>
      </div>
    </div>
  </body>
</html>
