<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chef Order List Page</title>
        <link rel="stylesheet" href="/css/chef/chefOrderListPage.css">
      </head>
      <body>
        <h1 class="title">Orders</h1>
        

          <% if (acceptedOrdersList.length > 0) { %>

            <div class="orders">

            <% acceptedOrdersList.forEach(acceptedOrder => { %>

              <a class="order" href="/chef/order/<%= acceptedOrder.orderID %>">
                <h3><%= acceptedOrder.orderID %></h3>
                  <% const split = acceptedOrder.pickUpTime.split(" ") %>
          <p><strong>Pick Up Time: </strong> <%= split[0] %>:<%= split[1] %> <%= split[2] %>       </p>
                <p><strong>Pizza Type: </strong>   <%= acceptedOrder.pizzaType %>        </p>
                <p><strong>Toppings: </strong>     <%= acceptedOrder.toppings.join(", ") %>        </p>
              </a>
          
          <% }) %> 
            </div>
          <% } else { %>
      
            <p>There are no Orders.</p>
      
          <% } %> 
            
        </body>        
        
        </html>
        
        <!-- <a class="order" href="chefSpecificOrder.html">
          <h3>Order #113a</h6>
          <p><strong>Pick up time: </strong>10:30 AM</p>
          <p><strong>Pizza Type: </strong>Pepperoni</p>
          <p><strong>Toppings: </strong>Mushroom, Onion</p>
        </a> -->