<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chef Order List Page</title>
      </head>
      <style>
            .orders {
      display: flex;
      width: 60vw;
      gap: 1rem;
      flex-wrap: wrap;
    }
    .order {
      border: 1px solid black;
      padding: 0rem 1rem;
      width: 150px;
      height: 200px;
      overflow: hidden;
      text-decoration: none;
      color: black;
    }
    .order:hover {
      color: white;
      background: black;
    }
    .order h6 {
      margin: 0;
    }
      </style>
      <body>
        <h1>Orders</h1>
        <div class="orders">

          <% if (acceptedOrdersList.length > 0) { %>

            <% acceptedOrdersList.forEach(acceptedOrder => { %>

              <a class="order" href="/chef/order/<%= acceptedOrder.orderID %>">
                <h3>Order <%= acceptedOrder.orderID %>   </h6>
                <p><strong>Pick up time: </strong> <%= acceptedOrder.pickUpTime %>        </p>
                <p><strong>Pizza Type: </strong>   <%= acceptedOrder.pizzaType %>        </p>
                <p><strong>Toppings: </strong>     <%= acceptedOrder.toppings%>        </p>
              </a>
          
          <% }) %> 
          <% } else { %>
      
            <p>There are no Orders</p>
      
          <% } %> 
            
          </div>
        </body>        
        
        </html>
        
        <!-- <a class="order" href="chefSpecificOrder.html">
          <h3>Order #113a</h6>
          <p><strong>Pick up time: </strong>10:30 AM</p>
          <p><strong>Pizza Type: </strong>Pepperoni</p>
          <p><strong>Toppings: </strong>Mushroom, Onion</p>
        </a> -->