<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processor Accepted Orders Page</title>
<script src="/AcceptedOrdersPage.js" defer></script>
 
<link rel="stylesheet" href="/css/orderprocessor/AcceptedOrdersPage.css"> 

</head>



<body>

  <div class="tabs">
    <a id="NewOrdersTabs"><center>New Orders</center></a>
    <a id="AcceptedOrdersTabs" class="selected"><center>Accepted Orders</center></a>
    <a id="FinishedOrdersTabs"><center>Finished Orders</center></a>
  </div>



  <div class="orders">

    <% if (arrayOfAcceptedOrdersDB.length > 0) { %>

      <% arrayOfAcceptedOrdersDB.forEach(arrayOfAcceptedOrdersDB => { %>

        <a class="order" href="/orderprocessor/individual-accepted-order/<%= arrayOfAcceptedOrdersDB._id %>">
          <h3>Order <%= arrayOfAcceptedOrdersDB.orderID %>   </h6>
          <p><strong>Pick up time: </strong> <%= arrayOfAcceptedOrdersDB.pickUpTime %>        </p>
          <p><strong>Pizza Type: </strong>   <%= arrayOfAcceptedOrdersDB.pizzaType %>        </p>
          <p><strong>Toppings: </strong>     <%= arrayOfAcceptedOrdersDB.toppings%>        </p>
        </a>

    <% }) %> 
    <% } else { %>

      <p>There are no AcceptedOrders</p>

      <% } %> 


  </div>



</body>
</body>
</html>