<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processor Accepted Orders Page</title>
<script src="/AcceptedOrdersPage.js" defer></script>
 
<link rel="stylesheet" href="/css/orderprocessor/AcceptedOrdersPage.css"> 

</head>



<body>

  <div class="tabs">
    <a id="NewOrdersTabs"><center>New Orders</center></a>
    <a id="AcceptedOrdersTabs" class="selected"><center>Accepted Orders</center></a>
    <a id="FinishedOrdersTabs"><center>Finished Orders</center></a>
  </div>



  
  <% if (arrayOfAcceptedOrdersDB.length > 0) { %>
    
    <div class="orders">
      <% arrayOfAcceptedOrdersDB.forEach(acceptedOrder => { %>

        <a class="order" href="/orderprocessor/individual-accepted-order/<%= acceptedOrder._id %>">
          <h3><%= acceptedOrder.orderID %>   </h6>
          <% const split = acceptedOrder.pickUpTime.split(" ") %>
          <p><b>Pick Up Time: </b> <%= split[0] %>:<%= split[1] %> <%= split[2] %>        </p>
          <p><b>Pizza Type: </b>   <%= acceptedOrder.pizzaType %>        </p>
          <p><b>Toppings: </b>     <%= acceptedOrder.toppings.join(", ") %>        </p>
        </a>

    <% }) %> 
  </div>
    <% } else { %>

      <p>There are no Accepted orders.</p>

    <% } %> 





</body>
</body>
</html>