<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processor Finished Orders Page</title>
  <link rel="stylesheet" href="/css/orderprocessor/FinishedOrdersPage.css">
</head>
<body>
  <div class="tabs">
    <a href="/orderprocessor/new-orders"><center>New Orders</center></a>
    <a href="/orderprocessor/accepted-orders"><center>Accepted Orders</center></a>
    <a href="/orderprocessor/finished-orders" class="selected"><center>Finished Orders</center></a>
  </div>
  <% if (FinishedOrdersList.length > 0) { %>
    <div class="orders">

      <% FinishedOrdersList.forEach(finishedOrder => { %>
        <a class="order" href="/orderprocessor/individual-finished-order/<%= finishedOrder.orderID %>">
          <h3><%= finishedOrder.orderID %></h3>
          <% const split = finishedOrder.pickUpTime.split(" ") %>
          <p><strong>Pick-up time: </strong> <%= split[0] %>:<%= split[1] %> <%= split[2] %>       </p>
          <p><strong>Pizza Type: </strong>   <%= finishedOrder.pizzaType %>        </p>
          <p><strong>Toppings: </strong>     <%= finishedOrder.toppings.join(", ") %>        </p>
        </a>
        <% }) %>
      </div>
    
    <% } else { %>

      <p>There are no Finished orders.</p>

    <% } %> 
</body>
</body>
</html>