<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processor New Orders Page</title>
<script src="/NewOrdersPage.js" defer></script>

<link rel="stylesheet" href="/css/orderprocessor/NewOrdersPage.css">

</head>


<body>


  <div class="tabs">
    <a id="NewOrdersTabs" class="selected"><center>New Orders</center></a>
    <a id="AcceptedOrdersTabs"><center>Accepted Orders</center></a>
    <a id="FinishedOrdersTabs"><center>Finished Orders</center></a>
  </div>

  
  
  <!-- if we have a least one order -->
  <% if (arrayOfOrdersDB.length > 0) { %>

    <div class="orders">

      <% arrayOfOrdersDB.forEach(newOrder => { %>
        <!-- each anchor tag is wrapped with a link using its ID FROM MONGO DB -->
        <a class="order" href="/orderprocessor/individual-new-order/<%= newOrder._id %> ">
          <!-- each anchor tag contains information based on its own object -->
          <h3><%= newOrder.orderID %></h3>
          <% const split = newOrder.pickUpTime.split(" ") %>
          <p>   <b>Pick Up Time: </b><%= split[0] %>:<%= split[1] %> <%= split[2] %>   </p>
          <p>   <b>Pizza Type: </b><%= newOrder.pizzaType %>   </p>
          <p>   <b>Toppings: </b><%= newOrder.toppings.join(", ") %>    </p>
        </a>
      <% }) %> 

    </div>

  <% } else { %>

      <p>There are no pending orders to be accepted.</p>

  <% } %> 

      

</body>
</body>
</html>