<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order #113a</title>

    <!-- save "specificAcceptedOrder" we recieved from server (orderProccessorController) into "thisSpecificAcceptedOrder" -->
    <script>
      let mongoOrderID = "<%= specificAcceptedOrder._id %>";
    </script>

    <script src="/specificAcceptedOrder.js" defer></script>
    <link rel="stylesheet" href="/css/orderprocessor/specificAcceptedOrder.css">
  </head>

  <body>
    <div class="tabs">
      <a id="NewOrdersTabs" href="/orderprocessor/new-orders"
        ><center>New Orders</center></a
      >
      <a
        id="AcceptedOrdersTabs"
        class="selected"
        href="/orderprocessor/accepted-orders"
        ><center>Accepted Orders</center></a
      >
      <a id="FinishedOrdersTabs" href="/orderprocessor/finished-orders"
        ><center>Finished Orders</center></a
      >
    </div>

    <div class="parent">
      <div class="order-details">
        <h3>Order <%= specificAcceptedOrder.orderID %></h3>
        <p>
          <strong>Pick up time: </strong> <%= specificAcceptedOrder.pickUpTime
          %>
        </p>
        <p>
          <strong>Pizza Type: </strong> <%= specificAcceptedOrder.pizzaType %>
        </p>
        <p><strong>Toppings: </strong> <%= specificAcceptedOrder.toppings %></p>
        <p>
          <strong>Special Instructions: </strong> <%=
          specificAcceptedOrder.specialInstructions %>
        </p>
      </div>

      <div class="buttons">
        <p id="orderStatusText">
          Current Status: 
          <% if (specificAcceptedOrder.orderStatus === "Ready to Pickup") { %>
          <span class="status green"
            ><%= specificAcceptedOrder.orderStatus %></span
          >
          <% } else { %>
          <span class="status red"
            ><%= specificAcceptedOrder.orderStatus %></span
          >
          <% } %>
        </p>
        <% if (specificAcceptedOrder.orderStatus === "Ready to Pickup") { %>
        <button id="order-picked-up-button">Order Picked Up</button>
        <% } else { %>
        <button id="order-picked-up-button" disabled>Order Picked Up</button>
        <% } %>
      </div>
    </div>
  </body>
</html>
