<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finished Order #<%= specificFinishedOrder.orderID %></title>
  <link rel="stylesheet" href="/css/orderprocessor/specificFinishedOrder.css">
</head>
<body>
  <div class="tabs">
    <a href="/orderprocessor/new-orders"><center>New Orders</center></a>
    <a href="/orderprocessor/accepted-orders"><center>Accepted Orders</center></a>
    <a href="/orderprocessor/finished-orders" class="selected"><center>Finished Orders</center></a>
  </div>
  <div class="parent">
    <div class="order-details">
      <h3>Order #<%= specificFinishedOrder.orderID %></h3>
      <% const split = specificFinishedOrder.pickUpTime.split(' ') %>
      <p><strong>Pick Up Time: </strong><%= split[0] %>:<%= split[1] %> <%= split[2].toUpperCase() %> </p>
      <p><strong>Pizza Type: </strong><%= specificFinishedOrder.pizzaType %></p>
      <p><strong>Toppings: </strong></p>
      <ul>
        <% specificFinishedOrder.toppings.forEach(topping => { %> 
          <li><%= topping %></li>
        <% }) %> 
      </ul>
      <p style="margin-bottom: 0;"><strong>Special Instructions: </strong></p>
      <p style="margin: 0;"><%= specificFinishedOrder.specialInstructions %></p>
    </div>
    <div class="buttons">
      <p>Amount Charged: <span class="amount-paid">$<%= specificFinishedOrder.amountPaid %>.00</span></p>
    </div>
  </div>
</body>
</html>