<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order #113a</title>

<script> 
  let mongoOrderID = "<%= specificNewOrder._id  %>";
  console.log("beforefirstscript");
  console.log(mongoOrderID);
  console.log("afterfirstscript");
</script>


<script src="/specificNewOrder.js" defer></script>

<link rel="stylesheet" href="/css/orderprocessor/specificNewOrder.css">

  </head>



  <body>





    <div class="tabs">
      <a id="NewOrdersTabs" class="selected"><center>New Orders</center></a>
      <a id="AcceptedOrdersTabs"><center>Accepted Orders</center></a>
      <a id="FinishedOrdersTabs"><center>Finished Orders</center></a>
    </div>



    <div class="parent">
      <div class="order-details">
        <h3>Order</h3>
        <h3 id="specificNewOrderID"><%= specificNewOrder.orderID %></h3>
        <p><strong>Pick up time: </strong>        <%= specificNewOrder.pickUpTime %>         </p>
        <p><strong>Pizza Type: </strong>          <%= specificNewOrder.pizzaType %>          </p>
        <p><strong>Toppings: </strong>            <%= specificNewOrder.toppings %>           </p>
        <p><strong>Special Instructions: </strong><%= specificNewOrder.specialInstructions %></p>
      </div>



      
      <div class="buttons">

        <button id="accept-button">Accept</button>
        <!-- we decided orderProcessor cant cancel orders -->

      
      </div>

    </div>






  </body>



</html>
